<!-- add new item -->

<section>
<h1>List of Products</h1>
<div class="listofItems" *ngFor="let shopping of shopping_cart;index as i">
    <p>Product:{{shopping.product}}</p>
    <p>Price: ${{shopping.price}}</p>
    <p>Quantity:{{shopping.quantity}}</p>

    <button (click)="toggle(i)">Edit</button>
    <i class="fas fa-trash" (click)="deleteItem(shopping.id)"></i>

    <!-- update form -->
<form #updateForm="ngForm" 
(ngSubmit)="[updateNewProduct(shopping),toggle(i)]"
 *ngIf=shopping.updatingForm class="editForm">

    <label>Product:</label>
    <input type="text" [(ngModel)]="shopping.product" name="product">

    <label>Price $</label>
    <input type="number" [(ngModel)]="shopping.price" name="price">

    <label>Quantity:</label>
    <input type="number" [(ngModel)]="shopping.quantity" name="quantity">
    <button>Update</button>
</form>
</div>
</section>


<form #productForm="ngForm"  *ngIf="!showAdd" (ngSubmit)="addNewItem(productForm)" class="addform">
    
    <label>Product:</label>
    <input type="text" ngModel name="product">

    <label>Price:</label>
    <input type="number" ngModel name="price">

    <label>Quantity:</label>
    <input type="number" ngModel name="quantity">
    <button>Add</button>
    
</form>
<h2 (click)=toggleAdd()>Add New Product</h2>